$backgroundColor: rgba(255, 255, 254, 1);

$gameFont: "fontGame";

$blocklyX: 20%;
$blocklyY: 20px;


@font-face {
    font-family: $gameFont;
    src: url('../assets/fonts/Kenney\ Future\ Narrow.ttf');
	font-style: normal;
	font-weight: bold;
}

#blocklyDiv {
    width: 60%;
    height: 80%;
    position: absolute;
    top: $blocklyY;
    left: $blocklyX;
}

// Export all relevant variables for using in the game
:export {
    backgroundColor: $backgroundColor;
    gameFont: $gameFont;
    blocklyX: $blocklyX;
    blocklyY: $blocklyY;
}

xml {
    display: none;
}
